<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/home.css" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <div class="main">
        <h1>Produto</h1>
        <div class="produtoUm">
            <h2>Monitor Gamer LG Ultra Gear 27' IPS, Wide, 240 Hz, Full HD, 1ms, FreeSync Premium, HDR 10, 99% sRGB, HDMI/DisplayPort, VESA - 27GN750-B.AWZ</h2>
            <p>Monitor Gamer LG 27´ Detalhes visuais ao máximo no seu Monitor para PC Garanta a vitória com o novo Monitor Gamer LG UltraGear 27GN750.</p>
            <p><strong>R$ 1.799,90</strong></p>
            <a href="/produtos"><img src="monitor.jpg" alt="Monitor Gamer LG Ultra Gear 27' IPS, Wide, 240 Hz, Full HD, 1ms, FreeSync Premium, HDR 10, 99% sRGB, HDMI/DisplayPort, VESA - 27GN750-B.AWZ"></a>
        </div>
</body>