<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container text-center">
        <h1>PRODUTOS</h1>
        <div class="row align-items-start">
            <div class="col">
                <div class="card" style="width: 18rem; height: 34rem;">
                    <img src="monitor1.jpg" style="height: 12rem;" class="card-img-top"
                        alt="Monitor Gamer LG Ultra Gear 27' IPS, Wide, 240 Hz, Full HD, 1ms, FreeSync Premium, HDR 10, 99% sRGB, HDMI/DisplayPort, VESA - 27GN750-B.AWZ">
                    <div class="card-body">
                        <h5 class="card-title">Monitor Gamer LG Ultra Gear 27' IPS, Wide, 240 Hz, Full HD, 1ms, FreeSync
                            Premium, HDR 10, 99% sRGB,
                            HDMI/DisplayPort, VESA - 27GN750-B.AWZ</h5>
                        <p class="card-text">Monitor gamer LG de 27" com IPS, 240 Hz, 1 ms, FreeSync Premium e HDR 10.
                            Cores vibrantes (99% sRGB), versátil na conectividade e suporte a VESA.</p>
                        <a href="/produto1" class="btn btn-dark">Ver item</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 34rem;">
                    <img src="monitor2.jpg" style="height: 12rem;" class="card-img-top"
                        alt="Monitor Gamer Zowie XL2546K, 24.5 240Hz, 1ms, Tecnologia DyAc, headphone jack, Ajuste de Altura - 9H.LJNLB.QBL">
                    <div class="card-body">
                        <h5 class="card-title">Monitor Gamer Zowie XL2546K, 24.5 240Hz, 1ms, Tecnologia DyAc, headphone
                            jack, Ajuste de Altura - 9H.LJNLB.QBL</h5>
                        <p class="card-text">Monitor de 24.5" para jogos competitivos, 240 Hz, 1 ms, tecnologia DyAc
                            para movimentos nítidos. Inclui jack para fones de ouvido e ajuste de altura.</p>
                        <a href="/produto2" class="btn btn-dark">Ver item</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 34rem;">
                    <img src="monitor3.png" style="height: 12rem;" class="card-img-top"
                        alt="Alienware 500Hz Gaming Monitor - AW2524H">
                    <div class="card-body">
                        <h5 class="card-title">Alienware 500Hz Gaming Monitor - AW2524H</h5>
                        <p class="card-text">Incorpore o eletrizante poder da velocidade com a taxa de atualização mais
                            rápida do mundo, de 500Hz, em um monitor de jogos IPS (comutação no plano) que torna a
                            navegação na turbulência de jogabilidade acelerada algo natural.</p>
                        <a href="/produto3" class="btn btn-dark">Ver item</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>