<!DOCTYPE html>
<html>

<head>
    <!-- Defina o título da página -->
    <title>PTAS - Express</title>

    <!-- Inclua o arquivo de estilo externo chamado "style.css" -->
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <!-- Conteúdo principal da página -->

    <div class="content">
        <!-- Título principal da página -->
        <h1 class="title">QuantumVision Electronics</h1>

        <!-- Subtítulo específico para a seção de Monitores -->
        <h6 class="titleb">Monitores</h6>

        <!-- Lista não ordenada para exibir a lista de produtos -->
        <ul class="product-list">
            <!-- Loop através da lista de produtos -->
            <% produtos.forEach(produto=> { %>
                <!-- Item da lista para cada produto -->
                <li>
                    <!-- Link para a página de detalhes do produto, usando o ID do produto -->
                    <a href="/produto?id=<%= produto.id %>">
                        <!-- Título do produto -->
                        <h2>
                            <%= produto.productName %>
                        </h2>
                        <!-- Imagem do produto -->
                        <img src="<%= produto.imagePath %>" alt="Imagem do Produto">
                        <!-- Preço do produto -->
                        <p>
                            <%= produto.productPrice %>
                        </p>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>

    <!-- Espaço na parte inferior da página -->
    <div class="bottom-space"></div>
</body>

</html>