<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <style>
        body{
            background-color: gray;
        }
    </style>

  <h1><%= message %></h1>
</body>
</html>